version: "3.9"

services:
  tests:
    build: .
    command: /bin/sh -c "/code/node_modules/.bin/jest --json | tee $ENGI_WORKING_DIR/jest.json"
    volumes:
      - type: volume
        source: output
        target: $ENGI_WORKING_DIR
volumes:
  output:
    external: true
    name: $ENGI_WORKING_VOL
